<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComPairSE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ComPairSE.Properties.Settings>
            <setting name="ReceiptsDataSharing" serializeAs="String">
                <value>False</value>
            </setting>
        </ComPairSE.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58067/DataService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataService" contract="FirstService.IDataService"
                name="BasicHttpBinding_IDataService" />
        </client>
    </system.serviceModel>
</configuration>