<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComPairSEBack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ComPairSEBack.Properties.Settings>
            <setting name="Maxima_VAT" serializeAs="String">
                <value>230335113</value>
            </setting>
            <setting name="Norfa_VAT" serializeAs="String">
                <value>107783219</value>
            </setting>
            <setting name="Rimi_VAT" serializeAs="String">
                <value>237153113</value>
            </setting>
            <setting name="Iki_VAT" serializeAs="String">
                <value>101937219</value>
            </setting>
            <setting name="ReceiptsDataSharing" serializeAs="String">
                <value>False</value>
            </setting>
        </ComPairSEBack.Properties.Settings>
    </applicationSettings>
</configuration>